LogicApp.json
{
    "$connections": {
        "value": {
            "azureblob": {
                "connectionId": "/subscriptions/<subscription>/resourceGroups/MyTestAppJS/providers/Microsoft.Web/connections/azureblob",
                "connectionName": "azureblob",
                "id": "/subscriptions/<subscription>/providers/Microsoft.Web/locations/eastus/managedApis/azureblob"
            },
            "azuretables": {
                "connectionId": "/subscriptions/<subscription>/resourceGroups/MyTestAppJS/providers/Microsoft.Web/connections/azuretables",
                "connectionName": "azuretables",
                "id": "/subscriptions/<subscription>/providers/Microsoft.Web/locations/eastus/managedApis/azuretables"
            },
            "conversionservice": {
                "connectionId": "/subscriptions/<subscription>/resourceGroups/MyTestAppJS/providers/Microsoft.Web/connections/conversionservice",
                "connectionName": "conversionservice",
                "id": "/subscriptions/<subscription>/providers/Microsoft.Web/locations/eastus/managedApis/conversionservice"
            }
        }
    },
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Set_variable": {
                        "inputs": {
                            "name": "cmd",
                            "value": "@split(body('Parse_JSON')?['text'],' ')"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    },
                    "Switch": {
                        "cases": {
                            "Case": {
                                "actions": {
                                    "HTTP": {
                                        "inputs": {
                                            "method": "POST",
                                            "queries": {
                                                "bot_id": "@variables('api')",
                                                "text": "@{concat(toUpper(variables('cmd')[2]), ' Team Page: http://www.daddyleagues.com/nflh3d/team/',variables('cmd')[2])}"
                                            },
                                            "uri": "https://api.groupme.com/v3/bots/post"
                                        },
                                        "runAfter": {},
                                        "type": "Http"
                                    }
                                },
                                "case": "team"
                            },
                            "Case_10": {
                                "actions": {
                                    "Condition_2": {
                                        "actions": {
                                            "HTTP_14": {
                                                "inputs": {
                                                    "method": "POST",
                                                    "queries": {
                                                        "bot_id": "@variables('api')",
                                                        "text": "Free Agent Listing (All Positions): http://www.daddyleagues.com/nflh3d/players?name=&position=all&team=fa"
                                                    },
                                                    "uri": "@variables('gm_uri')"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            }
                                        },
                                        "else": {
                                            "actions": {
                                                "HTTP_15": {
                                                    "inputs": {
                                                        "method": "POST",
                                                        "queries": {
                                                            "bot_id": "@variables('api')",
                                                            "text": "@{concat('Free Agents Listing (',toupper(variables('cmd')[2]),'): http://www.daddyleagues.com/nflh3d/players?name=&position=',toupper(variables('cmd')[2]),'&team=fa&sorty_by=OVR')}"
                                                        },
                                                        "uri": "@variables('gm_uri')"
                                                    },
                                                    "runAfter": {},
                                                    "type": "Http"
                                                }
                                            }
                                        },
                                        "expression": {
                                            "and": [
                                                {
                                                    "equals": [
                                                        "@tolower(variables('cmd')[2])",
                                                        "all"
                                                    ]
                                                }
                                            ]
                                        },
                                        "runAfter": {},
                                        "type": "If"
                                    }
                                },
                                "case": "fa"
                            },
                            "Case_2": {
                                "actions": {
                                    "HTTP_2": {
                                        "inputs": {
                                            "method": "POST",
                                            "queries": {
                                                "bot_id": "@variables('api')",
                                                "text": "http://www.daddyleagues.com/nflh3d/standing/ranking"
                                            },
                                            "uri": "https://api.groupme.com/v3/bots/post"
                                        },
                                        "runAfter": {
                                            "Html_to_text": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Http"
                                    },
                                    "HTTP_3": {
                                        "inputs": {
                                            "method": "GET",
                                            "uri": "http://www.daddyleagues.com/nflh3d/standing/ranking"
                                        },
                                        "runAfter": {},
                                        "type": "Http"
                                    },
                                    "Html_to_text": {
                                        "inputs": {
                                            "body": "@{body('HTTP_3')}",
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['conversionservice']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/html2text"
                                        },
                                        "runAfter": {
                                            "HTTP_3": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ApiConnection"
                                    }
                                },
                                "case": "powerrank"
                            },
                            "Case_3": {
                                "actions": {
                                    "HTTP_4": {
                                        "inputs": {
                                            "method": "POST",
                                            "queries": {
                                                "bot_id": "@variables('api')",
                                                "text": "@{concat(toUpper(variables('cmd')[2]),' ',toUpper(variables('cmd')[4]),' ',toLower(variables('cmd')[3]),' ovr(',toLower(variables('cmd')[5]),') added to trade block')}"
                                            },
                                            "uri": "https://api.groupme.com/v3/bots/post"
                                        },
                                        "runAfter": {
                                            "Insert_Entity_2": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Http"
                                    },
                                    "Insert_Entity_2": {
                                        "inputs": {
                                            "body": {
                                                "PartitionKey": "H3d",
                                                "RowKey": "@guid()",
                                                "ovr": "@toLower(variables('cmd')[5])",
                                                "playerlastname": "@toLower(variables('cmd')[3])",
                                                "position": "@toLower(variables('cmd')[4])",
                                                "submitter": "@body('Parse_JSON')?['sender_id']",
                                                "team": "@toLower(variables('cmd')[2])"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/Tables/@{encodeURIComponent('tradeblock')}/entities"
                                        },
                                        "runAfter": {},
                                        "type": "ApiConnection"
                                    }
                                },
                                "case": "addtrb"
                            },
                            "Case_4": {
                                "actions": {
                                    "Create_HTML_table": {
                                        "inputs": {
                                            "columns": [
                                                {
                                                    "header": "Player",
                                                    "value": "@item()['playerlastname']"
                                                },
                                                {
                                                    "header": "Team",
                                                    "value": "@item()['team']"
                                                },
                                                {
                                                    "header": "Position",
                                                    "value": "@item()['position']"
                                                },
                                                {
                                                    "header": "Overall",
                                                    "value": "@item()['ovr']"
                                                },
                                                {
                                                    "header": "Link",
                                                    "value": "@toLower(concat('<a href=\"https://www.daddyleagues.com/nflh3d/players?name=',item()['playerlastname'],'&position=all&team=',item()['team'],'\"> Player Link </a>'))"
                                                }
                                            ],
                                            "format": "HTML",
                                            "from": "@body('Get_entities')?['value']"
                                        },
                                        "runAfter": {
                                            "Get_entities": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Table"
                                    },
                                    "Create_blob": {
                                        "inputs": {
                                            "body": "<!DOCTYPE HTML>\n<html>\n<head>\n<title>H3D Tradeblock</title>\n<META http-equiv=\"Content-Type\" content=\"text/html; charset=iso-8859-1\">\n<style>\nh1 {\ntext-align: center;\n}\ntr:nth-child(even) {background-color: #f2f2f2;}\nbody {\nbackground-color: #FAFAD2\n}\nth {\n    background-color: #0000ff;\n    color: white;\n}\ntable, th, td {\n   border: solid black; \nmargin: auto;\n}\n</style>\n</head>\n<body>\n<h1>NFL H3D Tradeblock</h1>\n@{body('Create_HTML_table')}\n</body>\n</html>",
                                            "headers": {
                                                "Content-Type": "text/html"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/datasets/default/files",
                                            "queries": {
                                                "folderPath": "/$web",
                                                "name": "index.html",
                                                "queryParametersSingleEncoded": true
                                            }
                                        },
                                        "runAfter": {
                                            "Create_HTML_table": [
                                                "Succeeded"
                                            ]
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        },
                                        "type": "ApiConnection"
                                    },
                                    "Create_blob_2": {
                                        "inputs": {
                                            "body": "@replace(replace(replace(body('Get_blob_content'),'&lt;','<'),'&gt;','>'),'&quot;','\"')",
                                            "headers": {
                                                "Content-Type": "text/html"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/datasets/default/files",
                                            "queries": {
                                                "folderPath": "/$web",
                                                "name": "index.html",
                                                "queryParametersSingleEncoded": true
                                            }
                                        },
                                        "runAfter": {
                                            "Get_blob_content": [
                                                "Succeeded"
                                            ]
                                        },
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        },
                                        "type": "ApiConnection"
                                    },
                                    "Get_blob_content": {
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('JTJmJTI0d2ViJTJmaW5kZXguaHRtbA=='))}/content",
                                            "queries": {
                                                "inferContentType": true
                                            }
                                        },
                                        "metadata": {
                                            "JTJmJTI0d2ViJTJmaW5kZXguaHRtbA==": "/$web/index.html"
                                        },
                                        "runAfter": {
                                            "Create_blob": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ApiConnection"
                                    },
                                    "Get_entities": {
                                        "inputs": {
                                            "headers": {
                                                "x-ms-client-request-id": "@body('Parse_JSON')?['source_guid']"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/Tables/@{encodeURIComponent('tradeblock')}/entities",
                                            "queries": {
                                                "$filter": "PartitionKey eq 'H3d'"
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "ApiConnection"
                                    },
                                    "HTTP_5": {
                                        "inputs": {
                                            "method": "POST",
                                            "queries": {
                                                "bot_id": "@variables('api')",
                                                "text": "Tradeblock: https://<storageaccount>.blob.core.windows.net/$web/index.html"
                                            },
                                            "uri": "https://api.groupme.com/v3/bots/post"
                                        },
                                        "runAfter": {
                                            "Create_blob_2": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Http"
                                    }
                                },
                                "case": "trb"
                            },
                            "Case_5": {
                                "actions": {
                                    "For_each": {
                                        "actions": {
                                            "Delete_Entity": {
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                        }
                                                    },
                                                    "method": "delete",
                                                    "path": "/Tables/@{encodeURIComponent('tradeblock')}/entities/etag(PartitionKey='@{encodeURIComponent(items('For_each')?['PartitionKey'])}',RowKey='@{encodeURIComponent(items('For_each')?['RowKey'])}')"
                                                },
                                                "runAfter": {},
                                                "type": "ApiConnection"
                                            }
                                        },
                                        "foreach": "@body('Get_entities_2')?['value']",
                                        "runAfter": {
                                            "Get_entities_2": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Foreach"
                                    },
                                    "Get_entities_2": {
                                        "inputs": {
                                            "headers": {
                                                "x-ms-client-request-id": "@body('Parse_JSON')?['source_guid']"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                                }
                                            },
                                            "method": "get",
                                            "path": "/Tables/@{encodeURIComponent('tradeblock')}/entities",
                                            "queries": {
                                                "$filter": "PartitionKey eq 'H3d' and team eq '@{toLower(variables('cmd')[2])}' and playerlastname eq '@{toLower(variables('cmd')[3])}'"
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "ApiConnection"
                                    },
                                    "HTTP_6": {
                                        "inputs": {
                                            "method": "POST",
                                            "queries": {
                                                "bot_id": "@variables('api')",
                                                "text": "@{concat(toUpper(variables('cmd')[2]),' ',toLower(variables('cmd')[3]),' removed from trade block')}"
                                            },
                                            "uri": "https://api.groupme.com/v3/bots/post"
                                        },
                                        "runAfter": {
                                            "For_each": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Http"
                                    }
                                },
                                "case": "rmtrb"
                            },
                            "Case_6": {
                                "actions": {
                                    "HTTP_7": {
                                        "inputs": {
                                            "method": "POST",
                                            "queries": {
                                                "bot_id": "@variables('api')",
                                                "text": "H3dbot usage: https://<storageaccount>.blob.core.windows.net/$web/usage.html"
                                            },
                                            "uri": "https://api.groupme.com/v3/bots/post"
                                        },
                                        "runAfter": {},
                                        "type": "Http"
                                    }
                                },
                                "case": "help"
                            },
                            "Case_7": {
                                "actions": {
                                    "Switch_2": {
                                        "cases": {
                                            "Case": {
                                                "actions": {
                                                    "HTTP_8": {
                                                        "inputs": {
                                                            "method": "POST",
                                                            "queries": {
                                                                "bot_id": "@variables('api')",
                                                                "text": "Team Stats: http://www.daddyleagues.com/nflh3d/stats/team"
                                                            },
                                                            "uri": "https://api.groupme.com/v3/bots/post"
                                                        },
                                                        "runAfter": {},
                                                        "type": "Http"
                                                    }
                                                },
                                                "case": "team"
                                            },
                                            "Case_2": {
                                                "actions": {
                                                    "HTTP_9": {
                                                        "inputs": {
                                                            "method": "POST",
                                                            "queries": {
                                                                "bot_id": "@variables('api')",
                                                                "text": "Player Stats: http://www.daddyleagues.com/nflh3d/stats/player"
                                                            },
                                                            "uri": "https://api.groupme.com/v3/bots/post"
                                                        },
                                                        "runAfter": {},
                                                        "type": "Http"
                                                    }
                                                },
                                                "case": "player"
                                            },
                                            "Case_3": {
                                                "actions": {
                                                    "HTTP_11": {
                                                        "inputs": {
                                                            "method": "POST",
                                                            "queries": {
                                                                "bot_id": "@variables('api')",
                                                                "text": "Rookie Stats: http://www.daddyleagues.com/nflh3d/stats/rookie"
                                                            },
                                                            "uri": "https://api.groupme.com/v3/bots/post"
                                                        },
                                                        "runAfter": {},
                                                        "type": "Http"
                                                    }
                                                },
                                                "case": "rookie"
                                            },
                                            "Case_4": {
                                                "actions": {
                                                    "HTTP_10": {
                                                        "inputs": {
                                                            "method": "POST",
                                                            "queries": {
                                                                "bot_id": "@variables('api')",
                                                                "text": "H3D Fanasty Stats: http://www.daddyleagues.com/nflh3d/fantasy"
                                                            },
                                                            "uri": "https://api.groupme.com/v3/bots/post"
                                                        },
                                                        "runAfter": {},
                                                        "type": "Http"
                                                    }
                                                },
                                                "case": "fanasty"
                                            }
                                        },
                                        "default": {
                                            "actions": {}
                                        },
                                        "expression": "@variables('cmd')[2]",
                                        "runAfter": {},
                                        "type": "Switch"
                                    }
                                },
                                "case": "stats"
                            },
                            "Case_8": {
                                "actions": {
                                    "HTTP_12": {
                                        "inputs": {
                                            "method": "POST",
                                            "queries": {
                                                "bot_id": "@variables('api')",
                                                "text": "H3D Standings: http://www.daddyleagues.com/nflh3d/standings"
                                            },
                                            "uri": "https://api.groupme.com/v3/bots/post"
                                        },
                                        "runAfter": {},
                                        "type": "Http"
                                    }
                                },
                                "case": "standing"
                            },
                            "Case_9": {
                                "actions": {
                                    "HTTP_13": {
                                        "inputs": {
                                            "method": "POST",
                                            "queries": {
                                                "bot_id": "@variables('api')",
                                                "text": "H3d schedule: http://www.daddyleagues.com/nflh3d/schedules"
                                            },
                                            "uri": "@variables('gm_uri')"
                                        },
                                        "runAfter": {},
                                        "type": "Http"
                                    }
                                },
                                "case": "schedule"
                            }
                        },
                        "default": {
                            "actions": {}
                        },
                        "expression": "@variables('cmd')[1]",
                        "runAfter": {
                            "Set_variable": [
                                "Succeeded"
                            ]
                        },
                        "type": "Switch"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "contains": [
                                "@toLower(body('Parse_JSON')?['text'])",
                                "@@h3dbot"
                            ]
                        },
                        {
                            "not": {
                                "equals": [
                                    "@body('Parse_JSON')?['sender_type']",
                                    "bot"
                                ]
                            }
                        }
                    ]
                },
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "cmd",
                            "type": "Array"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_variable_2": {
                "inputs": {
                    "variables": [
                        {
                            "name": "api",
                            "type": "String",
                            "value": "<groupme bot id>"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable_3": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_variable_3": {
                "inputs": {
                    "variables": [
                        {
                            "name": "gm_uri",
                            "type": "String",
                            "value": "https://api.groupme.com/v3/bots/post"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@triggerBody()",
                    "schema": {
                        "properties": {
                            "attachments": {
                                "type": "array"
                            },
                            "avatar_url": {
                                "type": [
                                    "string",
                                    "null"
                                ]
                            },
                            "created_at": {
                                "type": "integer"
                            },
                            "group_id": {
                                "type": "string"
                            },
                            "id": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "sender_id": {
                                "type": "string"
                            },
                            "sender_type": {
                                "type": "string"
                            },
                            "source_guid": {
                                "type": "string"
                            },
                            "system": {
                                "type": "boolean"
                            },
                            "text": {
                                "type": "string"
                            },
                            "user_id": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Initialize_variable_2": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {}
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    }
}
